body{
    font-family: 'Josefin Sans', sans-serif;
    background-color:#131417;

}
.font{
    font-weight: 700;
}
.box{
    background-color: #e9ecef;
    border-left: #ffdb3a 5px solid ;
    border-radius: 10px;
}
#yello{
    background-color: #e9ecef;
    border:#ffdb3a 5px solid ;
    border-top: #ffdb3a 2px solid;
    border-right: #ffdb3a 2px solid;
    border-radius: 10px;
}
#lborder{
    background-color: #e9ecef;
    border-left: #ffdb3a 5px solid ;
  
}